/* universal code  */
*{
    margin: 0;
    padding: 0;
}


.btn-color{
    background: #b68c5a !important;
    color: #fff;
    font-weight: 500;
    transition: .4s;
}

.btn-color:hover{
    background: #9b7241 !important;
    color: #fff;
}
.btn-color:focus{
    background: #9b7241 !important;
    color: #fff;
}


.card{
    transition: transform .5s ease-in-out;
    background:linear-gradient(180deg, #d6d6d66c 0%, transparent 100%);
}
.card:hover{
    transform: scale(1.05);
    background:linear-gradient(180deg, #cbc2b6 0%, transparent 100%);
}

/* navbar */

.nav-menu ul li a{
    position: relative;
}
.nav-menu ul li a::after{
    content: "";
    border-bottom: 2px solid #b68c5a;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition:all .5s;
}
.nav-menu ul li a:hover::after{
    width: 100%;
}

/* banner section  */
.banner {
    background:linear-gradient(90deg, #111111 0%, transparent 50%, rgba(17, 17, 17, 0) 100%), url(../images/banner.png);
    height: 560px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* slider section */
.carousel-item img{
    background:linear-gradient(90deg, rgb(250, 250, 250) 0%, transparent 50%, rgba(17,17,17,0) 100%);
    height: 550px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}